:root {
    --bgwhite: #fdf6ed;
    --titlewhite: #FFF;
    --warmbeige: #ffedd3;
    --lightsage: #98b274;
    --sage:#2f8065;
    --darksage: #0e2920;
    --voidsage: #051811;

    --pagewidth: 975px;

    --scrollbar: var(--sage) var(--warmbeige);
    --boarderstyle: 3px outset var(--sage)
}

body {
    background-color: var(--darksage);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#popup{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    display: none;
}
#popup img{
    position: fixed;
    top:150px;
    width: 40%;
    z-index: 99;
}

#popup img:hover{
    cursor: zoom-out;
}

#image_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0518117e;
    visibility: hidden;
}

.center_container{
    width: 90%;
    height: fit-content;
    background-color: var(--bgwhite);

    box-sizing: border-box;
    border: var(--boarderstyle);
    border-radius: 2px;
}

.header{
    width: 100%;
    height: 4%;
    background-color: var(--warmbeige);
}

h1{
    font-size: 32px;
    line-height: 25px;
    margin: 0;
}

.content{
    width: 100%;
    box-sizing: border-box;

    padding: 20px;
}

.item_grid{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    align-items: center;
}

.item{
    width: auto;
    height: 100%;

    box-sizing: border-box;
    border: 3px outset var(--lightsage);
    border-radius: 2px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}

.thumbnail img{
    height:250px;
    width: auto;
    max-width: 350px;
    object-fit: contain;
    transition: 0.1s ease-in-out;

    z-index: 1;
}
.thumbnail img:hover{
    transform: scale(1.02);
    cursor: zoom-in;
}

.text_box{
    text-align: center;
    max-width: 400px;

}

#downwell{
    flex-direction: row;
    grid-area: 3 / 1 / 4 / 3;
}

img {
  display: block;
}

p{
    font-size: 14px;
    margin: 0;
}