:root {
    --bgwhite: #fdf6ed;
    --titlewhite: #FFF;
    --warmbeige: #ffedd3;
    --lightsage: #98b274;
    --sage:#2f8065;
    --darksage: #0e2920;
    --voidsage: #051811;

    --pagewidth: 975px;

    --scrollbar: var(--sage) var(--warmbeige);
    --boarderstyle: 3px outset var(--sage)
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@keyframes infinite-scroll-background{
    0% {background-position: 0 0;}
    100% {background-position: -640px -480px;}
}

.background_color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--voidsage);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -4;
}

.background_smol {
    position: fixed;
    background-image: url("image/smol_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -3;

    filter: blur(1px); 
}
.background_mid {
    position: fixed;
    background-image: url("image/mid_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 340s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -2; 

    filter: blur(0.5px); 
}
.background_beeg {
    position: fixed;
    background-image: url("image/beeg_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height:100%;
}

.center_container{
    
    margin-top: 10%;

    width: 750px;
    height:500px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;

    border: var(--boarderstyle);
    border-radius: 2px;

    background-color: #f1ffb2b7;
}

.title {
    width: 100%;
    height: 100%;
    background-color: var(--lightsage);

    box-sizing: border-box;
    border: var(--boarderstyle);
    border-radius: 2px;

    text-align: center;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--voidsage);
    line-height: 90px;

    background-image: url(image/diamond_tile.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 40px;
    image-rendering: pixelated;
    grid-area: 1 / 1 / 2 / 2;

    transition-property: all;
    transition: 0.2s linear;
}

.title:hover{
    color: var(--bgwhite);
    text-shadow: 0 0 2px var(--darksage), 0 0 4px var(--darksage);
}

.introduction {
    box-sizing: border-box;
    border: var(--boarderstyle);
    border-radius: 2px;

    width:100%;
    height:100%;
    background-color: var(--bgwhite);

    font-size: 18px;
    padding: 4px;
    margin: 0;

    grid-area: 2 / 1 / 3 / 2;
}

.button_container {
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 245px 245px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    grid-area: 1 / 2 / 3 / 3;
}

.box_button {
    height: 245px;
    width: 245px;

    border: var(--boarderstyle);
    border-radius: 2px;
    box-sizing: border-box;
    
    background-image: url(image/index_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    image-rendering: pixelated;

    padding-top: 24%;

    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: var(--darksage);
    font-weight: bold;
    font-size: 35px;

    transition-property: all;
    transition: 0.2s ease-in-out;
}

.box_button:hover {
    border: 2px inset var(--darksage);
    color: var(--bgwhite);
    box-shadow: -2px -2px var(--darksage);
}
.box_button:focus {
    border: 2px inset var(--bgwhite) !important;
    color: var(--bgwhite);
    box-shadow: -2px -2px var(--warmbeige)!important;
    outline: 0 !important;
}
.box_button:active {
    border: 2px inset var(--bgwhite) !important;
    color: var(--bgwhite);
    box-shadow: -2px -2px var(--warmbeige) !important;
    outline: 0 !important;
}
/*stolen css from 2010!*/

.footer{
    color:var(--bgwhite);
    margin: 0;
    line-height: 0;
}

a 
{
    color: var(--darksage);
    text-decoration: none;
}

h1{
    margin:0;
}

span{
    color: var(--sage);
}