:root {
    --bgwhite: #FDF6ED;
    --titlewhite: #FFF;
    --warmbeige: #ffedd3;
    --lightsage: #9cb080;
    --sage:#3d7c67;
    --darksage: #324148;
    --voidsage: #051811;

    --pagewidth: 975px;

    --scrollbar: var(--sage) var(--warmbeige);
    --boarderstyle: 3px outset var(--sage)
}

body {
    font-family: "Courier New", Courier, monospace;
}

@keyframes infinite-scroll-background{
    0% {background-position: 0 0;}
    100% {background-position: -640px -480px;}
}

.background_color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--voidsage);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -4;
}

.background_smol {
    position: fixed;
    background-image: url("image/smol_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -3;

    filter: blur(1px); 
}
.background_mid {
    position: fixed;
    background-image: url("image/mid_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 340s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -2; 

    filter: blur(0.5px); 
}
.background_beeg {
    position: fixed;
    background-image: url("image/beeg_block.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    animation: infinite-scroll-background;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height:100%;
}

.center_container{
    
    margin: 10%;

    width: 750px;
    height:500px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;

    border: var(--boarderstyle);
    border-radius: 2px;

    background: var(--bgwhite); 
}

.title {
    width: 100%;
    height: 100%;
    background-color: var(--lightsage);

    grid-area: 1 / 1 / 2 / 2;
}

.introduction {
    width:100%;
    height:100%;
    background-color: var(--lightsage);

    grid-area: 2 / 1 / 3 / 2;
}

.button_container {
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 245px 245px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    grid-area: 1 / 2 / 3 / 3;
}

.box_button {
    height: 245px;
    width: 245px;

    border: var(--boarderstyle);
    border-radius: 2px;
    box-sizing: border-box;
    
    background-image: url(image/index_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    image-rendering: pixelated;

    padding-top: 24%;

    text-align: center;
    color: #273338;
    font-weight: bold;
    font-size: 35px;
}

.box_button:hover {
    border: 2px inset #fff;
    background: rgb(123, 123, 123);
    color: #ffffff;
    box-shadow: -1px -1px #000;
}
.box_button:focus {
    border: 2px inset #fff !important;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: rgb(183, 183, 183);
}
.box_button:active {
    border: 2px inset #fff !important;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: rgb(183, 183, 183);
}
/*stolen css from 2010!*/

a 
{
    color: var(--darksage);
    text-decoration: none;
}