:root {
    --bgwhite: #fdf6ed;
    --titlewhite: #FFF;
    --warmbeige: #ffedd3;
    --lightsage: #98b274;
    --sage:#2f8065;
    --darksage: #0e2920;
    --voidsage: #051811;

    --pagewidth: 975px;

    --scrollbar: var(--sage) var(--warmbeige);
    --boarderstyle: 3px outset var(--sage)
}

body {
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    background-color: var(--darksage);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.center_container{
    margin-top: 30px;

    width: var(--pagewidth);
    height: 800px;
    background-color: var(--lightsage);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 20px;
}

.top_container{
    width: 100%;
    height: 40%;
    background-color: var(--bgwhite);

    padding: 10px;
    gap: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile{
    height: 100%;
    width: 32%;
}

.profile img{
    height: 100%;
    width: 100%;
    object-fit: contain;

    animation: play-frames 0.4s infinite;
}

@keyframes play-frames {
  0%{
    content: url(image/funni_profile_picture.png);
  }
  50%{
    content: url(image/f2_funni_profile_picture.png);
  }
}

.right_container{
    width: 70%;
    height: 100%;

    gap:10px;

    display: flex;
    flex-direction: column;
}

.thinking_bubble{
    height: 40%;
    width: auto;
    background-image: url(image/thinking_bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    padding-top: 40px;
    padding-left: 115px;
}

.intoduction{
    height: 60%;
    background-color: var(--darksage);
    color: var(--bgwhite);
}

.bottom_container{
    width: 100%;
    height: 60%;
    background-color: var(--sage);

    padding: 10px;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.unit_container{
    width: 33%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: var(--warmbeige);
}

.unit_title{
    height: 4%;
    background-color: var(--warmbeige);
    line-height: 0;
}

.unit_context{

    height: 90%;

    color: var(--voidsage);

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.footer{
    width: calc(100% - 25px);
    height: 50px;
    background-color: var(--bgwhite);
}

p{
    margin: 0;
    padding: 2px;
}

h3{
    margin: 0;
    padding: 3px;
}

a {
    color: var(--lightsage);
    text-decoration-style: wavy;
}
